[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pytube = "*"
firebase-admin = "*"
firebase = "*"
python-jwt = "*"
gcloud = "*"
sseclient = "*"
pycryptodome = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.8"
